.container{
 display: grid;
 grid-template-columns: 80% 20%;
 border-radius: 3px;
 padding: 8px;
}
.container > p{
 font-size: 14px;
 margin-top: 10px;
 padding: 8px;
}

.container > p > b{
 display: flex;
 justify-content: end;
 align-content: center;
}